<head>
  <style>
    .product-img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div class="container mt-3">
    <div class="row">
      @for(product of products; track product.id){
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">

          <img
            src="{{ product.image }}"
            class="card-img-top product-img"
            alt="{{ product.title }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">${{ product.price }}</p>
            <button class="btn btn-primary" (click)="addToCart(product.id)">
              Add to Cart
            </button>
            <button
              class="btn btn-secondary"
              (click)="goToProductDetails(product.id)"
            >
              View Details
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</body>
