body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.container {
  display: flex;
  width: 100%; /* Set the width of the container */
}

h2 {
  color: #333;
}

form {
  width: 30%; /* Set the width of the form */
  margin-right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Center the button vertically */
}

button:hover {
  background-color: #45a049;
}

table {
  width: 70%; /* Set the width of the table */
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  height: 40px;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

input[type="text"]#search {
  width: 50%;
  margin-bottom: 10px;
}

#totalUsers {
  margin-top: 10px;
}
